nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    transition: all 0.3s ease;
    &:hover {
      background: #0fbd74;
      color: white;
    }
  }
  h1 {
    &:hover {
      background: white;
      color: #0fbd74;
      cursor: pointer;
    }
  }
}
